<div class="span3 sidebar shadow-box">
  <section>
    <h3><%= Setting.sidebar_title %></h3>

    <div>
      <%= raw Setting.sidebar_html_content %>
    </div>
  </section>

  <% if @categories.present? %>
  <section>
    <h3>分类</h3>

    <% @categories.each do |category| %>
    <a class="row-fluid category" href="<%= category_path(category.name) %>">
      <span class="span10"><%= category.name %></span>
      <span class="span2 count"><%= category.blog_count %></span>
    </a>
    <% end %>
  </section>
  <% end %>

  <% if @tags.present? %>
  <section>
    <h3>标签</h3>
    <% tag_cloud(@tags, %w(8 12 18 24)) do |tag, weight| %>
        <%= link_to tag.name, tag_path(tag.name), :style=>"font-size: #{weight}px", :class=>"tag" %>
    <% end %>
  </section>
  <% end %>

  <section>
    <h3>最近文章</h3>
    <ul>
      <% @recent_blogs.each do |blog| %>
          <li>
            <%= link_to blog.title, blog_path(blog.slug) %>
          </li>
      <% end %>
    </ul>
  </section>

</div>