<div class="span3 sidebar">
  <section>
    <h3><%= Setting.sidebar_title %></h3>
        
    <div>
        <%=raw Setting.sidebar_html_content %>
    </div>
  </section>
  
  <section>
    <h3>分类</h3>
    <ul>
      <% @categories.each do |category| %>
      <li>
        <%=link_to "#{category.name} (#{category.blog_count})", category_path(category.name) %>
      </li>
      <% end %>
    </ul>
  </section>

  <section>
    <h3>最近文章</h3>
    <ul>
      <% @recent_blogs.each do |blog| %>
      <li>
        <%= link_to blog.title, blog_path(blog.slug) %>
      </li>
      <% end %>
    </ul>
  </section>

  <section>
    <h3>最近评论</h3>
    <ul>
      <% @recent_comments.each do |comment| %>
      <li>
        <%= link_to truncate(comment.content, :length=>20), blog_path(comment.blog.slug, :anchor=>"comments_#{comment.id}") %>
      </li>
      <% end %>
    </ul>
  </section>
</div>