<%= error_for(@page) %>

<div class="editor-form-inner">
  <div class="control-group">
    <div class="row-fluid ">
      <%= f.text_field :title, :class => "span12", :placeholder => "页面标题" %>
    </div>
  </div>

  <%= markdown_editor(f) %>

  <div class="form-horizontal">
    <div class="control-group">
      <label class="control-label">Slug</label>

      <div class="controls">
        <%= f.text_field :slug, :class => "input-block-level", :placeholder => "URL Slug" %>
      </div>
    </div>
  </div>
</div>

<% content_for :head do %>
    <%= session_meta_tags %>
<% end %>

<% content_for :js do %>
    <script>
        <%= seajs_use 'klog/admin/pages/form' %>
    </script>
<% end %>