<div class="container">

  <%= render 'common/flash_notice' %>

  <table class="table table-hover table-condensed">
    <col width="60%"/>
    <thead>
    <tr>
      <th>标题</th>
      <th>slug</th>
      <th>创建时间</th>
    </tr>
    </thead>
    <% if @pages.blank? %>
        <tr>
          <td colspan="5" class="empty-table">暂无页面</td>
        </tr>
    <% end %>
    <% @pages.each do |page| %>
        <tr>
          <td>
            <%= link_to page.title, edit_admin_page_path(page), :class=>'list-title' %>

            <%= link_to raw('<i class="icon-share"></i>'), page_path(page.slug), :title=>'查看原文', :target=>'_blank', :class=>'list-action' %>
            <%= link_to raw('<i class="icon-remove"></i>'), [:admin, page], :class=>'list-action delete',:title=>'删除',
                        'data-pop-confirm'=>"确定删除 “#{page.title}” ?", :method=>:delete, :remote=>true, 'data-type'=>"json" %>
            <%= link_to raw('<i class="icon-arrow-down"></i>'), down_admin_page_path(page), :method=>:post,:title=>'下移', :class=>'list-action' %>
            <%= link_to raw('<i class="icon-arrow-up"></i>'), up_admin_page_path(page), :title=>'上移', :method=>:post, :class=>'list-action' %>
          </td>
          <td><%= page.slug %></td>
          <td><%= l page.created_at, :format=>:long %></td>
        </tr>
    <% end %>
  </table>

    <%= link_to '<i class="icon-pencil icon-white"></i> 添加页面'.html_safe,
                new_admin_page_path, :class=>"btn btn-primary btn-large" %>

</div>

<% content_for :js do %>
  <%= seajs_use 'admin/index' %>
<% end %>