<div class="container">

  <%= render 'common/flash_notice' %>

  <div class="comments">
    <% if @comments.blank? %>
    暂无评论
    <% end %>
    <% @comments.each do |comment| %>
        <article>
          <header>
            <span>
              <span class="nick">
                <%= comment.is_admin? ? '我':comment.nick %>
              </span>
              <em><%= "(#{comment.email})" if comment.email.present? %></em>
            </span>
            <span class="ip">来自 <%= comment.ip %></span>
          </header>
          <section>
            <%= simple_format comment.content %>
          </section>
          <footer>
            <span class="date">评论于 <%= l comment.created_at, :format=>:long %></span>
            <%= link_to '删除', admin_comment_path(comment), :confirm=>'确定删除评论？系统会级联删除其回复！', :method=>:delete %>
            <%= link_to comment.blog.title, blog_url(comment.blog.slug, :anchor=>"comments_#{comment.id}"),
                        :target=>'_blank', :class=>'pull-right' %>
          </footer>
        </article>
    <% end %>
  </div>

  <%= paginate @comments %>


</div>