<div class="container">

  <div class="comments">
    <% if @comments.blank? %>
    暂无评论
    <% end %>
    <% @comments.each do |comment| %>
        <article>
          <header>
            <span class="nick"><%= comment.is_admin? ? '我' : comment.nick %></span>
            <% if comment.email.present? %>
                <span class="email">&lt;<%= comment.email %>&gt;</span>
            <% end %>
            <span class="commentTo">评论了</span>
            <%= link_to comment.blog.title, blog_url(comment.blog.slug, :anchor => "comments_#{comment.id}"), :class=>"", :target => '_blank' %>

          </header>
          <section>
            <%= simple_format h(comment.content) %>
          </section>
          <footer>
            <span class="date"><%= l comment.created_at, :format=>:long %></span>
            来自 <%= link_to comment.ip, "http://ip.taobao.com/ipSearch.php?ipAddr=#{comment.ip}", :target=>"_blank" %>
            <a class="delete" href="<%= admin_comment_path(comment) %>">删除</a>
          </footer>
        </article>
    <% end %>
  </div>

  <%= paginate @comments %>
</div>
<% content_for :js do %>
    <script>
      seajs.use('/assets/klog/admin/comments/index');
    </script>
<% end %>