<div class="container">

  <%= render 'common/flash_notice' %>


  <div class="comments">
    <% if @comments.blank? %>
    暂无评论
    <% end %>
    <div class="pop-confirm">
        <div class="pop-confirm-inner clearfix">
            <div class="pop-confirm-content">
              确定删除这条评论及其回复？
            </div>
            <div class="pull-right">
              <a class="btn btn-small btn-primary">确定</a>
              <a class="btn btn-small">取消</a>
            </div>
        </div>
    </div>
    <% @comments.each do |comment| %>
        <article>
          <header>
            <span class="nick"><%= comment.is_admin? ? '我' : comment.nick %></span>
            <% if comment.email.present? %>
                <span class="email">&lt;<%= comment.email %>&gt;</span>
            <% end %>

            <a class="delete" href="<%= admin_comment_path(comment) %>">删除</a>
          </header>
          <section>
            <%= simple_format h(comment.content) %>
          </section>
          <footer>
            <span class="date"><%= l comment.created_at, :format=>:long %></span>
            来自 <%= link_to comment.ip, "http://ip.taobao.com/ipSearch.php?ipAddr=#{comment.ip}", :target=>"_blank" %>
            <%= link_to comment.blog.title, blog_url(comment.blog.slug, :anchor => "comments_#{comment.id}"), :class=>"pull-right", :target => '_blank' %>
          </footer>
        </article>
    <% end %>
  </div>

  <%= paginate @comments %>
</div>
<% content_for :js do %>
    <script>
      seajs.use('/assets/klog/admin/comments/index');
    </script>
<% end %>