<% if controller_name == 'categories' %>
    <div class="well">
      <h3>分类：<%= @category.name %></h3>
    </div>
<% end %>

<% if controller_name == 'tags' %>
    <div class="well">
      <h3>标签：<%= params[:id] %></h3>
    </div>
<% end %>

<% @blogs.each do |blog| %>
    <article class="blog">
      <header>
        <h2>
          <%= link_to blog.title, blog_path(blog.slug) %>
        </h2>
        <p>
          <i class="icon-time"></i> <%= l blog.created_at %>
          <i class="separate">|</i>
          <i class="icon-user"></i> <%= Setting.website_author %>
          <i class="separate">|</i>
          <% blog.tag_list.each do |tag| %>
          <span class="label"><%= tag %></span>
          <% end %>
        </p>
      </header>
      <section>
        <%= raw truncate_html(blog.html_content, :length => 250, :omission => '') %>
        <%= link_to "阅读全文...", blog_path(blog.slug), :class=>'link-readmore' %>
      </section>
      <footer>
        发表在
        <% if blog.category.nil? %>
            未分类
        <% else %>
            <%= link_to blog.category.name, category_path(blog.category.name) %>
        <% end %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "#{blog.comment_count}条评论", blog_path(blog.slug, :anchor=>'comments')  %>
      </footer>
    </article>
<% end %>

<div class="pager-wrapper">
  <%= paginate @blogs, :theme=>'tiny' %>
</div>

<% content_for :seo do %>
    <meta name="Keywords" content="<%= "#{Setting.website_title} - #{Setting.website_author}的Blog" %>" />
<% end %>