<% if @category %>
<div class="well">
  <h3>分类：<%= @category.name %></h3>
</div>
<% end %>

<% @blogs.each do |blog| %>
    <article>
      <header>
        <h2>
          <%= link_to blog.title, blog_path(blog.slug) %>
        </h2>

        <p>发表于 <%= l blog.created_at %></p>
      </header>
      <div>
        <%= raw blog.html_content %>
      </div>
      <footer>
        发表在
        <% if blog.category.nil? %>
            未分类
        <% else %>
            <%=link_to blog.category.name, category_path(blog.category.name) %>
        <% end %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= blog.comment_count %>条评论
      </footer>
    </article>
<% end %>

<div class="pager-wrapper">
  <%= paginate @blogs, :theme=>'tiny' %>
</div>
