<article class="blog">
  <header>
    <h2>
      <%= @blog.title %>
    </h2>
    <p>
      <i class="icon-time"></i> <%= l @blog.created_at %>
      <i class="separate">|</i>
      <i class="icon-user"></i> <%= Setting.website_author %>
      <i class="separate">|</i>
      <% @blog.tag_list.each do |tag| %>
      <span class="label"><%= tag %></span>
      <% end %>
    </p>
  </header>
  <section>
    <%= raw @blog.html_content %>
  </section>
  <footer class="clearfix">
    <%= link_to '« '+@prev_blog.title, blog_path(@prev_blog.slug), :class=>'pull-left' if @prev_blog.present? %>
    <%= link_to @next_blog.title + '  »', blog_path(@next_blog.slug), :class=>'pull-right' if @next_blog.present? %>
  </footer>
</article>

<div class="comments">
  <a name="comments" id="comment_anchor"></a>
  <h2><%= @blog.comment_count %>条评论</h2>
  <div id="commentsWrapper">
    <%= render_comments(@blog, :level=>0) %>
  </div>
  <%= render 'comments/new' %>
</div>

<% content_for :title do %><%= @blog.title %> - <% end %>

<% content_for :seo do %>
    <meta name="Keywords" content="<%= @blog.tag_list %>" />
    <meta name="Description" content="<%= @blog.title %>" />
<% end %>

<% content_for :js do %>
    <script src="/js/sea-modules/seajs/1.3.1/sea.js"></script>
    <script src="/js/sea-modules/seajs-config.js"></script>
    <script>
        var IS_ADMIN = <%= is_admin? %>;
        <%= seajs_use 'klog/blogs/show' %>
    </script>
<% end %>
