<article class="blog">
  <header>
    <h2>
      <%= @blog.title %>
    </h2>
    <p>发表于 <%= l @blog.created_at %></p>
  </header>
  <section>
    <%= raw @blog.html_content %>
  </section>
  <footer>
    <%= link_to '« '+@prev_blog.title, blog_path(@prev_blog.slug), :class=>'pull-left' if @prev_blog.present? %>
    <%= link_to @next_blog.title + '  »', blog_path(@next_blog.slug), :class=>'pull-right' if @next_blog.present? %>
    <div style="clear:both"></div>
  </footer>
</article>

<div>
  <a name="comments" id="comment_anchor"></a>
  <%= form_for [@blog, @comment], :html=>{:class=>"form comment-form"} do |f| -%>
      <legend>发表评论</legend>
      <%= render 'common/flash_notice' %>
      <%= f.hidden_field :commentable_id, :data=>{:origin=>@comment.commentable_id} %>
      <%= f.hidden_field :commentable_type, :data=>{:origin=>@comment.commentable_type} %>

      <%= f.text_area :content, :placeholder=>'写点评论吧...', :rows=>5 %>
      <label></label>

      <div class="form-inline">
        <% unless is_admin? %>
            <label>昵称:</label>
            <%= f.text_field :nick, :class=>"input-medium", :style=>"margin-right: 10px;" %>
            <label>email:</label>
            <%= f.text_field :email, :class=>"input-medium" %>
        <% end %>
        <button class="btn btn-large pull-right" id="cancel_reply" type="button" style="margin-left:10px;display:none">取消回复</button>
        <button class="btn btn-large pull-right" id="submit_comment" type="submit">
          <i class="icon-ok"></i>
          发表评论
        </button>
        <div style="clear:both"></div>
      </div>

  <% end -%>
  <h2><%= @blog.comment_count %>条评论</h2>
  <%= render_comments(@blog, :level=>0) %>
</div>

<% content_for :js do %>
    <%= javascript_include_tag 'jquery', 'blogs/show' %>
    <%= javascript_include_tag 'ujs' if is_admin? %>
<% end %>

