<% comments.each do |comment| %>
    <% next if comment.new_record? %>
    <article style="margin-left: <%= level*20 %>px" id="comments_<%= comment.id%>">
      <a name="comments_<%= comment.id %>"></a>
      <header>
        <% if comment.is_admin? %>
            <%= Setting.website_author %>
            <span class="label label-important">博主</span>
        <% else %>
            <%= comment.nick %>
        <% end %>
      </header>
      <section>
        <%= simple_format h(comment.content) %>
      </section>
      <footer>
        <%= l comment.created_at %>
        <a href="javascript:void(0)" data-commentid="<%= comment.id %>" class="reply-comment">回复</a>
        <%= link_to '删除', admin_comment_path(comment), :confirm=>'确定删除？', :method=>:delete if is_admin? %>
      </footer>
    </article>
    <%= render_comments(comment, :level=>level+1) %>
<% end %>