<%= form_for [@blog, @comment], :html=>{:class=>"form comment-form"} do |f| -%>
    <legend>发表评论</legend>
    <%= render 'common/flash_notice' %>
    <%= f.hidden_field :commentable_id, :data=>{:origin=>@comment.commentable_id} %>
    <%= f.hidden_field :commentable_type, :data=>{:origin=>@comment.commentable_type} %>

    <%= f.text_area :content, :placeholder=>'写点评论吧...', :rows=>5 %>
    <label></label>

    <div class="form-inline">
      <% unless is_admin? %>
          <label>昵称:</label>
          <%= f.text_field :nick, :value=>cookies['comment_nick'], :class=>"input-medium", :style=>"margin-right: 10px;" %>
          <label>email:</label>
          <%= f.text_field :email, :value=>cookies['comment_email'], :class=>"input-medium" %>
      <% end %>
      <button class="btn btn-large pull-right" id="cancel_reply" type="button" style="margin-left:10px;display:none">取消回复</button>
      <button class="btn btn-large pull-right" id="submit_comment" type="submit">
        <i class="icon-ok"></i>
        发表评论
      </button>
      <div style="clear:both"></div>
    </div>

<% end -%>