<!DOCTYPE html>
<html>
<head>
  <title>Klog管理后台</title>
  <meta charset="utf-8"/>
  <%= stylesheet_link_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body class="admin-login-body">
<div class="admin-login-wrapper">
  <%= form_tag admin_session_path, :class=>"form-inline" do -%>
      <legend>输入密码</legend>
      <div class="well">
        <% if flash[:error] %>
        <div class="alert alert-error">
          <%= flash[:error] %>
        </div>
        <% end %>
        <%= password_field_tag 'password', nil, :class=>'input-xlarge', :autofocus=>true, :required=>true %>
        <button class="btn btn-primary" type="submit">
          登录
        </button>
      </div>
  <% end -%>
</div>
</body>
</html>

