<div class="container">
  <h2>附件列表</h2>

  <%= render 'common/flash_notice' %>

  <table class="table table-striped table-bordered table-condensed">
    <col width="40%"/>
    <col width="30%"/>
    <col/>
    <col/>
    <thead>
    <tr>
      <th>文件名</th>
      <th>归属</th>
      <th>文件大小</th>
      <th>创建时间</th>
    </tr>
    </thead>
    <% if @attaches.blank? %>
        <tr>
          <td colspan="4" class="empty-table">没有附件</td>
        </tr>
    <% end %>
    <% @attaches.each do |attach| %>
        <tr>
          <td>
            <%= link_to attach.filename, attach.file.url, :target=>'_blank', :class=>'pull-left' %>
            <%= link_to '删除', [:admin, attach], :confirm=>'确定删除?', :method=>:delete, :class=>'btn btn-danger pull-right hide' %>
          </td>
          <td>
            <% if attach.parent.instance_of? Blog %>
            <%= link_to attach.parent.title, blog_url(attach.parent.slug), :target=>"_blank" %>
            <% end %>
          </td>
          <td><%= number_to_human_size attach.file_size %></td>
          <td><%= l attach.created_at, :format=>:long %></td>
        </tr>
    <% end %>
  </table>

  <%= paginate @attaches %>


</div>