<div class="container">
  <%= render 'common/flash_notice' %>

  <table class="table table-hover table-condensed">
    <col width="35%"/>
    <col width="25%"/>
    <col width="10%"/>
    <col width="10%"/>
    <thead>
    <tr>
      <th>文件名</th>
      <th>归属</th>
      <th>归属类型</th>
      <th>文件大小</th>
      <th>创建时间</th>
    </tr>
    </thead>
    <% if @attaches.blank? %>
        <tr>
          <td colspan="4" class="empty-table">没有附件</td>
        </tr>
    <% end %>
    <% @attaches.each do |attach| %>
        <tr>
          <td>
            <%= link_to attach.file_name, attach.file.url, :target=>'_blank', :class=>'list-title' %>
            <%= link_to raw('<i class="icon-remove"></i>'), [:admin, attach], :title=>"删除", :class=>'list-action delete',
                        'data-pop-confirm'=>'确定删除?', :method=>:delete, :remote=>true, 'data-type'=>'json' %>
          </td>
          <td>
            <% if attach.parent.instance_of? Blog %>
            <%= link_to attach.parent.title, blog_url(attach.parent.slug), :target=>"_blank" %>
            <% end %>
            <% if attach.parent.instance_of? Page %>
            <%= link_to attach.parent.title, page_url(attach.parent.slug), :target=>"_blank" %>
            <% end %>
          </td>
          <td>
            <% if attach.parent.instance_of? Blog %>
                <span class="label">文章</span>
            <% end %>
            <% if attach.parent.instance_of? Page %>
                <span class="label label-success">页面</span>
            <% end %>
            <% if attach.parent_type == 'Setting::Sidebar' %>
                <span class="label label-info">侧边栏</span>
            <% end %>
          </td>
          <td><%= number_to_human_size attach.file_size %></td>
          <td><%= l attach.created_at, :format=>:long %></td>
        </tr>
    <% end %>
  </table>

  <%= paginate @attaches %>
</div>

<% content_for :js do %>
    <script>
      <%= seajs_use 'klog/admin/index' %>
    </script>
<% end %>