<div class="container">

  <%= render 'admin/settings/nav' %>

  <%= form_for @sidebar, :url=>admin_settings_sidebar_path, :method=>:put,
               :builder=>KlogFormBuilder, :html=>{:class=>"form-horizontal admin-form"} do |f| %>
      <%= render 'common/flash_notice' %>

      <%= error_for(@sidebar) %>

      <fieldset>
        <div class="control-group">
          <label class="control-label">标题</label>

          <div class="controls">
            <%= f.text_field :title, :class=>"input-xxlarge" %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" style="padding-top: 28px;">内容</label>

          <div class="controls">
            <%= f.markdown_editor :content, :class=>"input-xxlarge", :rows=>10 %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">附件/图片</label>

          <div class="controls">
            <div id="upload" style="height:30px;"></div>
            <div class="upload-list">
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-large btn-primary" type="submit">
            <i class="icon-edit icon-white"></i>
            修改
          </button>
        </div>
      </fieldset>
  <% end %>
</div>

<%= render :partial=>'admin/common/upload_temp', :locals=>{:parent=>@sidebar} %>

<% content_for :head do %>
    <%= session_meta_tags %>
<% end %>

<% content_for :js do %>
    <%= page_js_tag %>
<% end %>