<div class="container">

  <%= render 'admin/settings/nav' %>

  <%= form_for @admin_pass, :url=>admin_settings_admin_pass_path, :method=>:put, :html=>{:class=>"form-horizontal admin-form"} do |f| %>
      <%= render 'common/flash_notice' %>

      <%= error_for(@admin_pass) %>

      <fieldset>
        <div class="control-group">
          <label class="control-label">旧密码</label>

          <div class="controls">
            <%= f.password_field :old_pass, :class=>"input-xlarge" %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">新密码</label>

          <div class="controls">
            <%= f.password_field :new_pass, :class=>"input-xlarge" %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">确认密码</label>

          <div class="controls">
            <%= f.password_field :new_pass_confirmation, :class=>"input-xlarge" %>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-large btn-primary" type="submit">
            <i class="icon-edit icon-white"></i>
            修改
          </button>
        </div>
      </fieldset>
  <% end %>
</div>