<div class="container main">

  <article>
    <header>快捷链接</header>
    <ul>
      <li><%= link_to '写文章', new_admin_blog_path %></li>
      <li><%= link_to '管理评论', admin_comments_path %></li>
    </ul>
  </article>

  <article>
    <header>统计信息</header>
    <ul>
      <li>文章 <strong><%= Blog.publish.count %></strong> 篇，草稿 <strong><%= Blog.draft.count %></strong>  篇</li>
      <li>评论 <strong><%= Comment.count %></strong> 条</li>
      <li>分类 <strong><%= Category.count %></strong> 个</li>
      <li>附件 <strong><%= Attach.count %></strong> 个，占用 <strong><%= number_to_human_size Attach.sum('file_size') %></strong></li>
    </ul>
  </article>
  
  <article>
    <header>最热门文章</header>
    <ul>
      <% @hotest_blogs.each do |blog| %>
          <li>
            <%= link_to blog.title, blog_path(blog.slug), :target=>'_blank' %>
            - <em><%= blog.comment_count %>条评论</em>
          </li>
      <% end %>
    </ul>
  </article>
</div>