<%= error_for(@blog) %>

<div class="blog-form-inner">
  <div class="control-group">
    <div class="row-fluid ">
      <%= f.select :category_id, category_options, {}, :class => "span2" %>
      <%= f.text_field :title, :class => "span10", :placeholder => "文章标题" %>
    </div>
  </div>

  <%= markdown_editor(f) %>

  <div class="form-horizontal">
    <div class="control-group">
      <label class="control-label">标签</label>

      <div class="controls">
        <%= f.text_field :tag_list, :class => "input-block-level", :placeholder => "请用空格分隔" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Slug</label>

      <div class="controls">
        <%= f.text_field :slug, :class => "input-block-level", :placeholder => "URL Slug，默认为当前时间戳" %>
      </div>
    </div>
  </div>
</div>

<% content_for :head do %>
    <%= session_meta_tags %>
<% end %>

<% content_for :js do %>
    <%= javascript_include_tag 'admin/blogs/new' %>
<% end %>