<%= error_for(@blog) %>

<div class="control-group">
  <label class="control-label">标题</label>

  <div class="controls">
    <%= f.text_field :title, :class=>"input-xxlarge" %>
  </div>
</div>

<div class="control-group editor_tab">

  <div class="controls">
    <ul class="nav nav-pills">
      <li class="active" data-type="edit">
        <a href="javascript:void(0);">编辑</a>
      </li>
      <li data-type="preview">
        <a href="javascript:void(0);">预览</a>
      </li>
    </ul>
  </div>
</div>

<div class="control-group">
  <label class="control-label">内容</label>

  <div class="controls">
    <%= f.text_area :content, :class=>"input-xxlarge", :rows=>20 %>
    <div id="preview"></div>
  </div>
</div>

<div class="control-group">
  <label class="control-label">附件/图片</label>

  <div class="controls">
    <div id="upload" style="height:30px;"></div>
    <div class="upload-list">
    </div>
  </div>
</div>

<div class="control-group">
  <label class="control-label">slug</label>

  <div class="controls">
    <%= f.text_field :slug, :class=>"input-large" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">分类</label>

  <div class="controls">
    <%= f.select :category_id, category_options %>
  </div>
</div>

<script id="upload-list-temp" type="x-template">
  <div class="upload-item">
    <div class="filename pull-left">
      {{filename}}
      <input type="hidden" name="attach_ids[]"/>
    </div>
    <div class="progress progress-striped active pull-left">
      <div class="bar" style="width:0%"></div>
    </div>
    <div class="handle pull-left" style="display:none;">
      <a href="javascript:void(0);" class="insert">插入</a>&nbsp;&nbsp;|&nbsp;
      <a href="" target="_blank" class="view">查看</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a class="delete" data-method='delete' data-remote="true" data-confirm="确定删除这个附件？">删除</a>
    </div>
    <div style="clear:both"></div>
  </div>
</script>
