<%= error_for(@blog) %>

<div class="control-group">
  <label class="control-label">标题</label>

  <div class="controls">
    <%= f.text_field :title, :class=>"input-xxlarge" %>
  </div>
</div>

<div class="control-group editor_tab">

  <div class="controls">
    <ul class="nav nav-pills">
      <li class="active" data-type="edit">
        <a href="javascript:void(0);">编辑</a>
      </li>
      <li data-type="preview">
        <a href="javascript:void(0);">预览</a>
      </li>
    </ul>
  </div>
</div>

<div class="control-group">
  <label class="control-label">内容</label>

  <div class="controls">
    <%= f.text_area :content, :class=>"input-xxlarge", :rows=>20 %>
    <div id="preview"></div>
  </div>
</div>

<div class="control-group">
  <label class="control-label">附件/图片</label>

  <div class="controls">
    <div>
      <div id="upload" style="height:30px;"></div>
      <div>
        <table cellpadding="0" cellspacing="0" class="upload-list">
          <col width="80px"/>
          <col width="200px">
        </table>
      </div>
    </div>
  </div>
</div>

<div class="control-group">
  <label class="control-label">slug</label>

  <div class="controls">
    <%= f.text_field :slug, :class=>"input-large" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">分类</label>

  <div class="controls">
    <%= f.select :category_id, category_options %>
  </div>
</div>

<script id="upload-list-temp" type="x-template">
  <tr style="">
    <td>
      {{filename}}
    </td>
    <td>
      <div class="progress">
        <div class="bar" style="width:0%"></div>
      </div>
      <div class="handle" style="display:none;">
        <a href="javascript:void(0);" data-insert="true">插入图片</a>
        <a data-delete="true" data-method='delete' data-remote="true">删除</a>
      </div>
    </td>
  </tr>
</script>
