<div class="container">
  <h3>修改文章</h3>
  <%= form_for([:admin, @blog], :html => {:class => "blog-form"}) do |f| %>
      <fieldset>
        <%= render :partial => "form", :locals => {:f => f} %>
      </fieldset>
      <div class="form-actions">
        <%= f.hidden_field :status %>
        <button class="btn btn-large btn-primary" type="submit" data-status="<%= Blog::S_PUBLISH %>">
          <i class="icon-edit icon-white"></i>
          <% if @blog.publish? %>
              修改文章
          <% else %>
              发布文章
          <% end %>
        </button>
        <% unless @blog.publish? %>
            <button class="btn btn-large btn-warning" type="submit" data-status="<%= Blog::S_DRAFT %>">
              保存草稿
            </button>
        <% end %>
      </div>
  <% end %>

  <%= link_to '<< 返回列表', admin_blogs_path %>
</div>