<div class="container">

  <ul class="nav nav-tabs">
    <li <%= blog_nav_class(Blog::S_PUBLISH) %>>
      <a href="<%= admin_blogs_path(:status=>Blog::S_PUBLISH) %>">已发布</a>
    </li>
    <li <%= blog_nav_class(Blog::S_DRAFT) %>>
      <a href="<%= admin_blogs_path(:status=>Blog::S_DRAFT) %>">草稿箱</a>
    </li>
  </ul>

  <%= render 'common/flash_notice' %>

  <table class="table table-hover table-condensed">
    <col width="60%"/>
    <col width="15%"/>
    <col/>
    <col/>
    <thead>
    <tr>
      <th>标题</th>
      <th>分类</th>
      <th>评论</th>
      <th>创建时间</th>
    </tr>
    </thead>
    <% if @blogs.blank? %>
        <tr>
          <td colspan="5" class="table-empty-row">暂无文章</td>
        </tr>
    <% end %>
    <% @blogs.each do |blog| %>
        <tr>
          <td>
            <%= link_to blog.title, edit_admin_blog_path(blog), :class=>"list-title" %>
            <% unless blog.publish? %>
              <%= link_to raw('<i class="icon-ok"></i>'), publish_admin_blog_path(blog), :title=>'发布', :class=>'list-action',
                          'data-pop-confirm'=>"确定要发布 “#{blog.title}” ?", :method=>:post %>
            <% end %>
            <%= link_to raw('<i class="icon-share"></i>'), blog_path(blog.slug), :title=>'查看原文', :class=>'list-action', :target=>"_blank" %>
            <%= link_to raw('<i class="icon-remove"></i>'), [:admin, blog], :title=>'删除', :class=>'list-action delete',
                        'data-pop-confirm'=>"确定删除 “#{blog.title}” ?", "data-type"=>"json", :method=>:delete, :remote=>true %>

          </td>
          <td><%= blog.category.try(:name) %></td>
          <td><%= blog.comment_count %></td>
          <td><%= l blog.created_at, :format=>:long %></td>
        </tr>
    <% end %>
  </table>

  <div>
    <%= link_to '<i class="icon-pencil icon-white"></i> 写文章'.html_safe,
                new_admin_blog_path, :class=>"btn btn-primary btn-large pull-left" %>
    <%= paginate @blogs %>
  </div>
</div>

<% content_for :js do %>
    <%= seajs_use 'admin/index' %>
<% end %>