<div class="container">
  <h3>写文章</h3>
  <%= form_for([:admin, @blog], :html => {:class => "editor-form"}) do |f| %>
      <fieldset>
        <%= render :partial => "form", :locals=>{:f=>f} %>
      </fieldset>
      <div class="form-actions">
        <%= f.hidden_field :status %>
        <button class="btn btn-large btn-primary" type="submit" data-status="<%= Blog::S_PUBLISH %>">
          <i class="icon-ok icon-white"></i>
          发布文章
        </button>
        <button class="btn btn-large btn-warning" type="submit" data-status="<%= Blog::S_DRAFT %>">
          保存草稿
        </button>
      </div>
  <% end %>

  <%= link_to '<< 返回列表', admin_blogs_path %>
</div>
<% content_for :js do %>
    <script>
        <%= seajs_use 'klog/admin/blogs/new' %>
    </script>
<% end %>