<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li <%= public_nav_class('^/blogs', '^/$') %>>
          <%= link_to 'Blog', blogs_path %>
        </li>
        <li <%= public_nav_class('^/archive') %>>
          <%= link_to 'Archives', archive_path %>
        </li>
        <% Page.order('sid ASC').each do |page| %>
            <li <%= public_nav_class('^/' + page.slug) %>>
              <%= link_to page.title, "/#{page.slug}" %>
            </li>
        <% end %>
      </ul>

      <ul class="nav pull-right">
        <li><%= link_to '', feed_url, :id=>'rss-icon', :title=>'RSS订阅' %></li>
      </ul>

      <form class="navbar-search pull-right" action="http://google.com/search" style="margin-right: 20px" method="get">
        <input type="text" name="q" class="search-query input-large" placeholder="搜索" />
        <input type="hidden" name="q" value="site:<%= request.host %>" />
      </form>
    </div>
  </div>
</div>