<!DOCTYPE html>
<html>
<head>
  <title>Klog管理后台</title>
  <meta charset="utf-8"/>
  <%= stylesheet_link_tag 'admin' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
  <%= yield :head %>
</head>
<body>
<%= render 'layouts/admin_nav' %>
<%= yield %>
<footer class="copyright">
  <div class="container">
    &copy; Powered by open source project <a href="https://github.com/edokeh/klog">Klog</a> running on Rails.
  </div>
</footer>
<%= javascript_include_tag 'admin' %>
<%= yield :js %>
</body>
</html>
