<!DOCTYPE html>
<html>
<head>
  <title><%= Setting.website_title %></title>
  <meta charset="utf-8"/>
  <%= stylesheet_link_tag 'public' %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, feed_path, :title=>Setting.website_title) %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/header' %>
      <%= render 'layouts/public_nav' %>

      <div class="row-fluid page">
        <div class="span9 main">
          <%= yield %>
        </div>
        <%= render_cell :side_bar, :show %>
      </div>
    </div>
  </div>
</div>
<footer class="copyright">
    &copy; Powered by open source project <a href="https://github.com/edokeh/klog">Klog</a> running on Rails.
</footer>
<%= yield :js %>
</body>
</html>
