<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %><%= Setting.website_title %></title>
  <meta charset="utf-8"/>
  <%= csrf_meta_tags %>
  <%= yield :seo %>
  <%= auto_discovery_link_tag(:rss, feed_path, :title=>Setting.website_title) %>
  <%= stylesheet_link_tag 'public' %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/header' %>
      <%= render 'layouts/public_nav' %>

      <div class="row-fluid page">
        <div class="span9 main">
          <%= yield %>
        </div>
        <%= render_cell :side_bar, :show %>
      </div>
    </div>
  </div>
</div>
<footer class="copyright">
    Copyright &copy; 2012 -
    <%= Setting.website_author%> -
    Powered by <a href="https://github.com/edokeh/klog">Klog</a> on Rails.
</footer>
<%= yield :js %>

<% if Setting.website_bottom_js %>
    <script>
      <%= Setting.website_bottom_js.html_safe %>
    </script>
<% end %>
</body>
</html>
